
.image1 {
    background-image: url('map.png');
    background-repeat: no-repeat;
    position: absolute; /* 絶対的な位置を指定 */
    width: 150vw; 
    height: 150vh; 
    z-index: -2; /* 表示順序を設定 */
    transition: transform 0.2s ease-out; /* 変化を滑らかにするトランジション */
    
    overflow: visible;
    }
.image2 {
    background-image: url('grid.png');
    position: absolute; /* 絶対的な位置を指定 */
    width: 150vw; 
    height: 150vh; 
    z-index: -1; /* 表示順序を設定（image1より上に表示されるように） */
    overflow: visible;
    }


header {
    background-color: #3f865d;
    color: #fff;
    text-align: left;
    padding: 14px 0;
    padding-left: 20px;
    font-size: 28px;
    font-family: "Times New Roman";
}

header h1 {
    font-size: 24px;
}

h2 {
    font-family: "Comic Sans MS";
}

body{
    margin: 0; /* ページのマージンをゼロに設定 */
    overflow: hidden;
    background-image: url('map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* 相対的な位置を指定 */
    z-index: 1; /* 表示順序を設定 */
    border: 10px solid black;
}



/* Apply styles to main content */
main {
    background-size:contain; 
    background-blend-mode: lighten;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    
    
}




.button-container {
    display: flex;
    justify-content: center;
}
  



/* フッタースタイリング */
footer {
    background-color: #73bcad; /* 背景色をくすんだ色に設定 */
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.chat-form {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.ocr-form {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.chat-button {
    background-color: #08784f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-response {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-response h2 {
    font-size: 20px;
}

.chat-response p {
    font-size: 16px;
}


