/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply styles to header */
header {
    background-color: #3f865d;
    color: #fff;
    text-align: left;
    padding: 14px 0;
    padding-left: 20px;
    font-size: 28px;
    font-family: "Times New Roman";
}

header h1 {
    font-size: 24px;
}

/*大見出しの設定*/
h2 {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
    border-radius: 5px 0 0 5px;
  }

/* Apply styles to main content */
main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.chat-form {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.chat-button {
    background-color: #08784f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-response {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-response h2 {
    font-size: 20px;
}

.chat-response p {
    font-size: 16px;
}

/*top*/
#top {
    
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 25px;
    background: linear-gradient(-45deg, #9d6fbb, #da00b6, #ab06ed, #f705bb, #ec02c5, #da0883, #b6037a, #da0066, #ed0672, #f70576, #ec025c, #ed065e);
    color: #FFFFFF;
    text-decoration: none;
  }