{% load static %}


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT-3とのチャット</title>
    <link rel="stylesheet" href="{% static 'gptapp/sample.css' %}">
</head>
<body>
    <header>
        <h1>Poket Sensei</h1>
    </header>
    <main>
        <h2>
            question for chat gpt            
        </h2>
        <form action="" method="post" class="chat-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="chat-button">GPT-3に質問する</button>
        </form>

        <!-- OCRのフォームとテキスト表示を追加 -->
        <h2>画像からテキストを抽出する (OCR)</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ ocr_form.as_p }}
            <input type="file" name="image">  <!-- ファイルを選択するための input 要素 -->
            <input type="submit" value="文字を抽出">  <!-- ファイルをアップロードするボタン -->
        </form>

        {% if ocr_text %}
        <h2>OCRの結果:</h2>
        <p>{{ ocr_text }}</p>
        {% endif %}

        {% if chat_response %}
        <section class="chat-response">
            <h2>回答:</h2>
            <p>{{ chat_response }}</p>
        </section>
        {% endif %}

        
    </main>
    
    <footer>
        <h3>INIAD＠team16-group4</h3>
    </footer>
</body>
</html>