{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>HACHI</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'gptapp/sample.css' %}">
    <script src="{% static 'gptapp/sample.js' %}"></script>
</head>

<body>
    <!-- 背景画像 -->
    <img src="{% static 'gptapp/grid.png' %}" class="grid">
    <img src="{% static 'gptapp/map.png' %}" class="map">


    <!-- 左上の画像 -->
    <img src="{% static 'gptapp/rogo_circle.png' %}" class="rogo_circle">
    <img src="{% static 'gptapp/HACHI.png' %}" class="hachi">

    <!-- フレーム -->
    <img src="{% static 'gptapp/frame.png' %}" class="frame">

    <!-- フォーム背景 -->
    <img src="{% static 'gptapp/form_part.png' %}" class="form_part">

    <!-- 入力フォーム -->
    <form method="post" class="form-input" enctype="multipart/form-data" src="{% static 'gptapp/form.png' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- 送信ボタン -->
        <input type="image" class="form-submit" src="{% static 'gptapp/button.png' %}" alt="Submit">
    </form>


<!--
    <div class="center-box">
        <h1>質問かい?勉強してるんだね!偉いぞ!!</h1>
    <div>

    <script>
        document.body.onclick = function() {
            const h1 = document.querySelector("h1");
            h1.innerHTML = "今日の目標は3問!さあ!一緒に頑張ろう!";
        };
    </script>
-->
</body>

</html>