/*スクロール禁止 : 隙間なくし*/
body{ 
    overflow: hidden;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    background-repeat: no-repeat;
    background-size: cover;

    color:#0257a7;
  }

/*.chat-form{
    margin-top: 340px;
    margin-left: 1270px;
    margin-right: 0px;
    margin-bottom: 0px;
}*/

.parent{
    display: flex;

    width: 100%;
    height: 100vh;
}

.left_content{
    width: 80vw;
    height: 100vh;

    flex-grow: 1;
    margin-top: 80px;
    margin-left: 20px;
    
}

.right_content{
    width: 20vw;
    height: 100vh;
    
    flex-grow: 1;

    margin-top: 50px;
}

/* */

.chat_response_part{
    height: 30vh;
}

.ocr_response_part{
    height: 10vh;
}

.default_message{
    height: 10vh;
}

.simular_part{
    height: 10vh;

    margin-top:150px;
}

/* */

.chat{
    text-align: center;

    margin-top: 250px;
}

/**/

.ocr{
    float: left;

    text-align: center;

    margin-left: 30px;
}

/**/

.chat-button{
    color: white;
    background-color: #0257a7;
    border: none;
    
}

.upload-button{
    color: white;
    background-color: #0257a7;
    border: none;
}

.dasutoko{
    top:20px;
}